main {
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* MAIN */
/* Left-side */
#main-left-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#landing-header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    text-align: center;
}
#landing-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.btn-landing {
    font-size: clamp(1.2rem, 1vw, 2rem);
    width: 8vw;
    min-width: 6rem;
    padding: 1vw;
    border-radius: 6rem;
}
/* Right-side */
#main-right-side {
    max-width: 50%;
    display: flex;
    justify-content: center;
}
#landing-image {
    width: 50vw;
    max-width: 720px;
}