html {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* MAIN */
/* Left-side */
#main-left-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#landing-header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
}
#landing-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.btn-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 12rem;
    height: 5rem;
}
/* Right-side */
#main-right-side {
    max-width: 50%;
    display: flex;
    justify-content: center;
}
#landing-image {
    width: 50vw;
    max-width: 720px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}