html {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}
main {
    min-height: calc(100vh - 10rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 5rem;
    flex: 1 1 0;
}

/* TYPOGRAPHY */

/* NAV */

/* MAIN */
#collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
/* Collection display */
.collection {
    background-color: rgb(131, 131, 131, .1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 11vw;
    min-width: 224px;
}
.collect-img {
    min-width: 200px;
    width: 10vw;
    object-fit: contain;
}
.collect-text {
    width: 100%;
    padding: 1rem;
}
.collection-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}
.collection-author {
    font-style: italic;
}
#collect-tags {
    display: flex;
    flex-wrap: wrap;
}
.collect-tag {
    display: flex;
    border: 1px solid #ddd;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Tags Function */
.form-addBook ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}
.form-addBook ul li {
    display: flex;
    border: 1px solid #ddd;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}
.form-addBook ul li:hover {
    background-color: #dde0e3;
}
.form-addBook ul li i {
    cursor: pointer;
} 
.fi-rr-cross-small {
    font-size: 1rem;
    position: relative;
    top: 2px;
}

/* BUTTONS */
.btn-small {
    width: 4rem;
    height: 3rem;
}