/* TYPOGRAPHY*/
.typewriter {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 4rem;
    color:#0000;
}

/* TYPEWRITER EFFECT */
.typewriter {
    color:#0000;
    background:
        linear-gradient(-90deg, #333 5px,#0000 0) 10px 0,
        linear-gradient(#333 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
        blinking .7s infinite steps(1),   
        typing calc(var(--n)*.15s) steps(var(--n)) forwards;
}
@keyframes typing {
    from {background-size: 0 200%};
}
@keyframes blinking {
    50% {background-position: 0 -100%, 0 0};
}